body {
  background-image: url("estaticacovid.jpg");
    font-family: sans-serif;
    font-size: 16px;
  }

  #cabecalho{
      background-color: rgb(240,240,240);
      text-align: center;
      border: black 1px solid;
      border-radius: 10px;
      margin-bottom: 25px
  }

  #navbar{
      margin-bottom: 25px;
      border-radius: 10px;
  } 

  #imgprincipal{
      width: 100%;
      border-radius: 15px 50px 30px;
  }

  #fotonoticia{
      width: 45%;
      border-radius: 10px;
  }

  #rodape{
    background-color: rgb(240,240,240);
    font-family: sans-serif;
    text-align: center;
    border: black 1px solid;
    border-radius: 10px;
    margin-bottom: 25px
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-radius: 10px;
    
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  a:link, a:visited {
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(95, 95, 95);
  }

#conteudo{
  background-color: rgba(255, 255, 255, 0.74);
  margin-left: 5%;
  margin-right: 5%;
  padding: 2%;
  border-radius: 10px;
  margin-bottom: 3%;
}
#carol{

width: 15%; 
border-radius: 30%;
box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 100px 100px 0 rgba(0, 0, 0, 0.19);
}
#felipe{
width: 15%;
border-radius: 30%;
box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 100px 100px 0 rgba(0, 0, 0, 0.19); 
}
#flavio{
  width: 15%; 
  border-radius: 30%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 100px 100px 0 rgba(0, 0, 0, 0.19);
}
#patrick{
  width: 15%; 
  border-radius: 30%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 100px 100px 0 rgba(0, 0, 0, 0.19);
}

 #sobre{ 
  width: 320px;
  padding: 10px;
  border: 5px solid rgb(53, 41, 161);
  margin: 0;
}


p{
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2{
  text-align: justify;
  border: 1px solid gray;
  margin-left: 15%;
  margin-right: 15%;
}

#T1{
  text-align: center;
}

.card {
  width: 80%;
  padding: 50px 90px 90px 90px;
  border: 6px solid #ffffff;
  box-shadow: 50px 20px 0 #ffffff;
  border-radius: 50px;
  position: center;
}

.card h2 {
  color: #ffffff;
  font-size: 60px;
  text-transform: center;
}

.card .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
  grid-gap: 30px;
}

.card .row .col {
  position: relative;
  width: 100%;
  margin: 30px 20px 40px 0;
  transition: 0.5s;
}

.card .row .form-group {
  position: relative;
  width: 100%;
  height: 40px;
  color: #ffffff;
}

.card .row .form-group input,
.card .row .form-group textarea {
  position: absolute;
  width: 90%;
  height: 100%;
  background: white;
  outline: none;
  font-size: 24px;
  padding: 10px 0 10px 20px;
  border: 5px solid #faf7f7;
  box-shadow: 10px 10px 0 hsl(246, 93%, 24%);
  color: #020202;
  border-radius: 50px;
}

.card .row .form-group label {
  line-height: 50px;
  color: #ffffff;
  font-size: 30px;
  margin: 0 0 0 30px;
  display: block;
  pointer-events: none;
}

.row .col:nth-child(6) {
  margin-top: 64px;
}

.card .row .form-group input:focus,
.card .row .form-group textarea:focus {
  border: 5px solid #ffffff;
  transition: all 0.5s;
}

.card .row input[type="submit"] {
  border: 5px solid hsl(0, 33%, 98%);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  height: 100%;
  width: 50%;
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 45px;
  transition: all 0.4s;
}

.card .row input[type="submit"]:hover {
  border: 5px solid rgba(255, 255, 255, 1);
  color: #ffffff;
  transition: all 0.4s;
}

@media screen and (max-width: 900px) {
  .card .row {
    grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
  }
  
  .card {
    padding: 20px;
  }
  
  .card h2 {
    font-size: 34px;
  }
  
  .card .row input[type="submit"] {
    width: 100%;
  }
}